$main-color: hsl(14, 86%, 42%);
$second-color: hsl(159, 69%, 38%);
$rose-50: hsl(20, 50%, 98%);
$rose-100: hsl(13, 31%, 94%);
$rose-300: hsl(14, 25%, 72%);
$rose-400: hsl(7, 20%, 60%);
$rose-500: hsl(12, 20%, 44%);
$rose-900: hsl(14, 65%, 9%);
$red-hat-text: "Red Hat Text", sans-serif;
$white: #fff;

* {
  margin: 0px;
  padding: 0px;
  font-family: $red-hat-text;
}

main {
  display: flex;
  flex-direction: row;
  background-color: $rose-100;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.header-products {
  padding: 10px;
  padding-top: 20px;
}

.container-principal {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  padding: 10px;
  gap: 20px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  height: 100%;
}

.product-card {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 8px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid $rose-100;
  transition: border-color 0.3s ease;
}

.product-image img:hover {
  border-color: $main-color;
}

.product-information {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}

.product-category {
  font-size: 12px;
  color: $rose-500;
}

.product-name {
  font-weight: bold;
  font-size: 16px;
}

.product-price {
  color: $main-color;
  font-size: 12px;
}

.cart-item {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $rose-100;
}

.infoName {
  display: flex;
  justify-content: space-between;
}

.add-cart-btn {
  background-color: $white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  width: 100px;
  border: 1px solid $main-color;
  padding: 5px;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  bottom: 25%;
  cursor: pointer;
}

.add-cart-btn .fa-cart-plus {
  color: $main-color;
}

.add-cart-btn span {
  font-size: 12px;
}

.colorBtnIcons {
  background-color: $main-color;
  display: flex;
  justify-content: space-between;
}

.decrement-btn,
.increment-btn,
.item-count {
  color: $white;
}

.cart {
  background-color: $white;
  height: fit-content;
  width: 250px;
  padding: 10px;
  border-radius: 5%;
  margin-top: 3%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;
  position: relative;
}

.header-cart {
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: $main-color;
  align-self: start;
  position: relative;
  top: 0;
  left: 0;
}

.infoCart {
  margin-left: 0px;
}

// .cart-content{
//   justify-content: center !important;
// }

.names-styles {
  font-weight: bold;
}

.quantity-styles {
  color: $main-color;
  font-weight: bold;
  font-size: 12px;
}

.price-styles {
  color: $rose-500;
  font-size: 14px;
}

.price-styles-total {
  color: $rose-500;
  font-size: 14px;
  font-weight: bold;
}

#price-total {
  font-weight: bold;
  font-size: 17px;
}

.order-btn {
  height: 30px;
  width: 200px;
  font-size: 13px;
  background-color: $main-color;
  color: $white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px;
}

.developer {
  color: rgb(151, 151, 151);
  font-size: 12px;
  padding-top: 50px;
  align-self: flex-start;
}

.developer a {
  text-decoration: none;
  color: rgb(151, 151, 151);
  font-weight: bold;
}

.show-if-empty {
  padding: 5px;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .container-principal {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do botão de fechar (x) */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
}

.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credit {
  margin-top: 20px;
  color: #cacaca;
  font-size: 10px;
  text-align: center;
  a {
    text-decoration: none;
    color: #cacaca;
    font-weight: bold;
  }
}

.carbon {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f7f5f5;
  padding: 5px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-order-list {
  background-color: #f7f5f5;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  margin: 10px;
}

.order-list-img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.product-name-order {
  font-size: 14px;
  font-weight: bold;
}

.organize-products-order {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  justify-content: space-between;
}

.quantity-price-order {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: center;
  align-items: center;
}

.order-item-list {
  ul {
    list-style: none;
  }
}

.modal-total {
  background-color: #f7f5f5;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}

.header-modal {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px;
  gap: 10px;
  img {
    height: 40px;
    width: 40px;
  }
  span {
    font-size: 12px;
    color: #aaa;
  }
}

.new-order-btn {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
